 # QQQ数据分析

In [1]:
#imports

import yfinance as yf
import pandas as pd
import datetime as dt
import getdata as gd

ModuleNotFoundError: No module named 'getdata'

In [2]:
print('This notebook was refreshed at %s'%(dt.datetime.now()))

This notebook was refreshed at 2021-12-30 21:01:58.909811

本笔记分析QQQ的数据以回答以下问题：
1. QQQ当前的估值是否合理？
2. QQQ的中短期趋势如何？

In [3]:
#init

pd.options.display.float_format = '{:,.2f}'.format
df_port=pd.read_csv('../data/share/nasdaq100components.csv')

## QQQ 估值指标监测

In [4]:
# df_metric=gd.get_port_component_metrics(df_port)
# df_metric.to_csv('../data/share/nasdaq100_component_metric.csv')

In [5]:
df_metric=pd.read_csv('../data/share/nasdaq100_component_metric.csv')
df_metric

,Unnamed: 0,ticker,weight,market_cap,revenue,revenue_growth,cashflow,net_income,gross_profit
0,0,AAPL,11.64,"2,942,980,063,232.00","365,817,004,032.00",0.29,"104,037,998,592.00","94,679,998,464.00","152,836,000,000.00"
1,1,MSFT,10.14,"2,567,353,663,488.00","176,250,994,688.00",0.22,"81,945,001,984.00","67,882,999,808.00","115,856,000,000.00"
2,2,AMZN,6.85,"1,716,198,965,248.00","457,965,010,944.00",0.15,"54,671,998,976.00","26,262,999,040.00","152,757,000,000.00"
3,3,FB,4.85,"953,976,750,080.00","112,329,998,336.00",0.35,"53,618,999,296.00","40,304,001,024.00","69,273,000,000.00"
4,4,TSLA,4.33,"1,090,817,097,728.00","46,848,000,000.00",0.57,"9,930,999,808.00","3,468,000,000.00","6,630,000,000.00"
...,...,...,...,...,...,...,...,...,...
95,95,SWKS,0.18,"25,472,196,608.00","5,109,100,032.00",0.37,"1,772,000,000.00","1,498,300,032.00","2,512,400,000.00"
96,96,SIRI,0.17,"26,242,289,664.00","8,604,000,256.00",0.09,"1,939,000,064.00","318,000,000.00","4,099,000,000.00"
97,97,PDD,0.17,"72,540,422,144.00","13,489,638,173.24",0.89,"4,223,224,024.05","-416,108,315.81","6,309,837,293.20"
98,98,SPLK,0.15,"19,257,382,912.00","2,411,443,968.00",0.23,"-52,090,000.00","-1,196,030,976.00","1,682,280,000.00"
99,99,PTON,0.12,"11,424,621,568.00","4,069,100,032.00",0.06,"-1,112,800,000.00","-634,300,032.00","1,452,100,000.00"

In [6]:

df_port_metric=gd.get_port_metric(df_metric)

In [7]:
df_port_metric

                                    0
market_cap     105,305,655,992,218.62
revenue         13,283,723,698,509.64
revenue_growth                  19.95
ps                               7.93
gross_profit     5,764,757,439,182.02
pgp                             18.27
gross_margin                    43.40
cashflow         3,709,626,418,574.42
pcf                             28.39
cf_rate                          3.52
cf_margin                       27.93
net_income       2,936,649,122,323.92
pe                              35.86
income_rate                      2.79
profit_margin                   22.11

In [8]:
df_port=pd.DataFrame({'ticker':['BABA','0700.HK'],'weight':[50,50]})

In [9]:
df_metric,df_stock=gd.get_port_component_metrics(df_port)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [10]:
df_metric

,ticker,weight,market_cap,revenue,revenue_growth,cashflow,net_income,gross_profit
0,BABA,0.50,"308,134,281,216.00","127,917,152,307.89",0.29,"30,895,677,306.34","19,535,993,233.87","46,741,593,056.50"
1,0700.HK,0.50,"546,028,007,853.28","86,271,147,586.39",0.14,"27,124,759,866.05","29,693,590,770.55","34,788,559,097.41"

In [11]:
df_port_metric=gd.get_port_metric(df_metric)

In [12]:
df_port_metric

                                0
market_cap     427,081,144,534.64
revenue        107,094,149,947.14
revenue_growth              18.36
ps                           3.99
gross_profit    40,765,076,076.95
pgp                         10.48
gross_margin                38.06
cashflow        29,010,218,586.20
pcf                         14.72
cf_rate                      6.79
cf_margin                   27.09
net_income      24,614,792,002.21
pe                          17.35
income_rate                  5.76
profit_margin               22.98